# Βάση δεδομένων
MYSQL_ROOT_PASSWORD=my_very_strong_root_password
MYSQL_DATABASE=saek_attendance
MYSQL_USER=saek_admin
MYSQL_PASSWORD=my_very_strong_user_password

# Εφαρμογή
DB_HOST=db
DB_NAME=saek_attendance
DB_USER=saek_admin
DB_PASS=my_very_strong_user_password
TZ=Europe/Athens

# Admin (θα δημιουργηθεί αυτόματα)
ADMIN_PASSWORD=admin

# Domains (αλλάξτε με τα δικά σας)
FRONTEND_DOMAIN=apousies.saekreth.gr
ADMIN_DOMAIN=grammateia.saekreth.gr